
%table#comments-table.display.no-wrap{"data-source" => backend_comments_path(format: :json)}
  %thead
    %tr
      %th Id
      %th Body
      %th Author
      %th Title Article
      %th Created_at
      %th
      %th
      %th
  %tbody                                 
.modal.fade{role: :dialog, id: "myModalEdit"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{type: :button,"data-dismiss" => "modal"} &times;
        %h4.modal-title Modal Edit       
        .content-myModalEdit  
