= form_for grid, options do |f|
  .row
    - grid.filters.each do |filter|
      .datagrid-filter.filter.col-sm-2
        = f.datagrid_filter filter, partials: options[:partials],placeholder: filter,style: "max-width:170px"
    .datagrid-actions.col-sm-3{:style => "margin-top:8px;"}
      = f.submit I18n.t("datagrid.form.search").html_safe, :class => "datagrid-submit"
      - empty_parameter = Rails.version >= "4.1.0" && Rails.version <= '4.1.2' ? nil : {}
      = link_to I18n.t('datagrid.form.reset').html_safe, url_for(grid.to_param => empty_parameter), :class => "datagrid-reset"
