<div class="banner">
  <div class="container-fluid">
    <h1><%= link_to "Wow! eBook",root_path %></h1>
    <div class="hidden-xs">
      <p title="The best eBook site ever" data-toggle="tooltip" style="">The best eBook site ever!</p>
    </div>   
 </div>
</div>
