<div class="banner">
  <div class="container-fluid">
    <div class="col-sm-3">
      <h1 ><%= link_to "Wow! eBook",root_path %></h1>
     </div>
     <div class="col-sm-3">
       <p title="The best eBook site ever" data-toggle="tooltip">The best eBook site ever!</p>
     </div>
 </div>
</div>
