#footer
  .container-fluid
    .top-footer
      %p
        %a#scroll{:href => "#"}
          %i.fa.fa-angle-up.fa-3x
    .mid-footer
      %p Wow! eBook © 2016. All Rights Reserved.
      %ul.list-inline
        %li
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Follow on Facebook"}
            %i.fa.fa-facebook.fa-2x
        %li
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Follow on Twitter"}
            %i.fa.fa-twitter.fa-2x
        %li
          %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Follow on Google+"}
            %i.fa.fa-google-plus.fa-2x
