= datagrid_form_for @grid, :method => :get, :url => backend_users_path
= will_paginate @grid.assets, renderer: BootstrapPagination::Rails
= datagrid_table @grid
= will_paginate @grid.assets, renderer: BootstrapPagination::Rails
